body {
	margin: 0;
	background: black;
	color: #fff;
	text-align: center;
}

.area {
	width: 800px;
	height: 468px;
	margin: 50px auto;

	background-color: #ccc;
	position: relative;
	overflow: hidden;
}


.player {
	left: 400px;
	top: 200px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	background-color: red;
}

.player2 {
	top: 100px;
	left: 100px;
	background-color: green;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
}


.meteor {
	opacity: 1;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 18px;
	background-color: #333;

	transition: opacity linear .15s;

}

.meteor.boomed {
	background-color: red;
	opacity: 0;
}

h1 {
	color: #fff;
	text-align: center;
}

.won {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	margin-left: -140px;
	margin-top: -60px;
	z-index: 5;

	opacity: 0;

}

.won.active {
	transition: opacity linear .35s;
	opacity: 1;
}